<form action="result" method="post">
  Hallo,
  hier wirst du deine Zukunft erkennen!
  <br>
  <br>
  Wie hei&szlig;t du? <input name="name" autocomplete="off">
  <br>
  <br>
  Was ist dein Lieblingstier? <input name="tier" autocomplete="off">
  <br>
  <br>
  <button type="submit">Bist du bereit?</button>
</form>
