<form action="result" method="post">
  <p>Hallo,</p>
  <p>hier wirst du deine Zukunft erkennen!</p>
  <p>Wie hei&szlig;t du? </p>
  <input name="name" autocomplete="off">
  <p>Was ist dein Lieblingstier? </p>
  <input name="tier" autocomplete="off">
  <button type="submit">Bist du bereit?</button>
</form>
