<!DOCTYPE html>
<html>
  <head>
    <title>Madlib</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <h1>Fortune Teller</h1>
    <%= yield %>
  </body>
</html>
